<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Такой страницы не существует!</title>
    <link rel="stylesheet" type="text/css" href="/static/js/vendors/iconfonts/mdi/css/materialdesignicons.css" />
    <link rel="stylesheet" type="text/css" href="/static/js/vendors/css/vendor.addons.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/shared/style.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/demo_1/style.css">
    <link rel="shortcut icon" type="image/x-icon" href="/static/images/fav_1.ico" />
  </head>
  <body>
    <div class="error_page error_2">
      <div class="container inner-wrapper">
        <h1 class="display-1 error-heading">УПС!</h1>
        <h2 class="error-code">Такой страницы не существует!</h2>
        <p class="error-message">Кажется, вы попали на недействительный url.</p>
        <a href="/static/monitoring" class="btn btn-primary">Обратно на главную</a>
      </div>
    </div>
    <script src="/static/js/vendors/js/core.js"></script>
    <script src="/static/js/vendors/js/vendor.addons.js"></script>
    <script src="/static/js/template.js"></script>
  </body>
</html>